name: Integration

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: taiki-e/install-action@v2
        with:
          tool: typstyle

      - name: Lint
        run: typstyle --check .

  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Typst
        uses: typst-community/setup-typst@v4

      - name: Setup Typst Packages
        run: |
          mkdir -p ~/.local/share/typst
          ln -s $PWD/packages ~/.local/share/typst/packages
          tree ~/.local/share/typst/packages

      - uses: taiki-e/install-action@v2
        with:
          tool: tytanic

      - name: Run Tytanic
        run: tt run --no-fail-fast --root ./packages/leocolomb/logotype/1.0.0/
        env:
          TYPST_FONT_PATHS: "/opt/typst/assets/fonts"

      - name: Archive diffs
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: artifacts
          path: |
            tests/**/diff/*.png
            tests/**/out/*.png
            tests/**/ref/*.png
          retention-days: 5

  compile:
    name: Compile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Typst
        uses: typst-community/setup-typst@v4

      - name: Setup Typst Packages
        run: |
          mkdir -p ~/.local/share/typst
          ln -s $PWD/packages ~/.local/share/typst/packages
          tree ~/.local/share/typst/packages

      - name: Run Typst
        run: typst compile tests/fixture.typ dist/test.png
        env:
          TYPST_FONT_PATHS: "/opt/typst/assets/fonts"

      - name: Archive diffs
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: artifacts
          path: |
            dist/*.png
          retention-days: 5

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Docker builder
        uses: docker/setup-buildx-action@v3

      - name: Docker build and push
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./Dockerfile
          tags: |
            ghcr.io/${{ vars.DOCKER_IMAGE }}:latest
          load: true

      - name: Test
        run: |
          docker run --rm -v "${PWD}/tests:/opt/data" ghcr.io/${{ vars.DOCKER_IMAGE }} c "/opt/data/fixture.typ"
