name: Integration

on:
  - push

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Use Docker builder
        uses: docker/setup-buildx-action@v1.4.1

      - name: Docker build and push
        uses: docker/build-push-action@v2.5.0
        with:
          context: ./
          file: ./Dockerfile
          tags: |
            ghcr.io/${{ secrets.DOCKER_IMAGE }}:latest
          load: true

      - name: Test
        run: |
          docker run --rm -v "${PWD}/test:/data" ghcr.io/${{ secrets.DOCKER_IMAGE }} "/data/Fixture.md" \
            --output "/data/Output.pdf" \
            --variable title="Fixture" \
            --variable id="Id" \
            --template="/opt/template.tex" \
            --pdf-engine=xelatex
